<font color='#00bd42'>**This color for INSIGHTS**</fond>

<font color='#048ad2'>**This color for HEADING**</fond>

<font color='#f5110a'>**This color for CODE**</fond>

<font color='#ecff5f'>**This color for CODE BASED ON INSIGHTS**</fond>

In [24]:
import pandas as pd

df = pd.read_csv('loan_prediction.csv')
print(f"Dataset shape: {df.shape}")
df.head(10)

Dataset shape: (614, 13)

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y
5,LP001011,Male,Yes,2,Graduate,Yes,5417,4196.0,267.0,360.0,1.0,Urban,Y
6,LP001013,Male,Yes,0,Not Graduate,No,2333,1516.0,95.0,360.0,1.0,Urban,Y
7,LP001014,Male,Yes,3+,Graduate,No,3036,2504.0,158.0,360.0,0.0,Semiurban,N
8,LP001018,Male,Yes,2,Graduate,No,4006,1526.0,168.0,360.0,1.0,Urban,Y
9,LP001020,Male,Yes,1,Graduate,No,12841,10968.0,349.0,360.0,1.0,Semiurban,N

In [13]:
# View columns for df

print(df.columns)

Index(['Loan_ID', 'Gender', 'Married', 'Dependents', 'Education',
       'Self_Employed', 'ApplicantIncome', 'CoapplicantIncome', 'LoanAmount',
       'Loan_Amount_Term', 'Credit_History', 'Property_Area', 'Loan_Status'],
      dtype='object')

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 614 entries, 0 to 613
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Loan_ID            614 non-null    object
 1   Gender             601 non-null    object
 2   Married            611 non-null    object
 3   Dependents         599 non-null    object
 4   Education          614 non-null    object
 5   Self_Employed      582 non-null    object
 6   ApplicantIncome    614 non-null    int64
 7   CoapplicantIncome  614 non-null    float64
 8   LoanAmount         592 non-null    float64
 9   Loan_Amount_Term   600 non-null    float64
 10  Credit_History     564 non-null    float64
 11  Property_Area      614 non-null    object
 12  Loan_Status        614 non-null    object
dtypes: float64(4), int64(1), object(8)
memory usage: 67.2+ KB

<font color='#00bd42'>**BASED ON INSIGHTS**</fond>

<font color='#00bd42'>**Insights from df.info()**</fond>


        * There are null values in data

<font color='#048ad2'>**Header**</fond>

### <font color='#048ad2'>**Duplicates & Missing Values**</fond>

<font color='#f5110a'>**CODE**</fond>

<font color='#f5110a'>**Duplicates**</fond>

In [2]:
# Get the number of original rows
num_original_rows = len(df)
print(f"Number of Original Rows: {num_original_rows}")

# Identify and display duplicate rows
duplicate_rows = df[df.duplicated()]
num_duplicates = len(duplicate_rows)
print(f"\nNumber of Duplicate Rows: {num_duplicates}")

# Drop duplicate rows and keep the first occurrence
df_no_duplicates = df.drop_duplicates()

# Print the number of remaining rows after removing duplicates
num_remaining_rows = len(df_no_duplicates)
print(f"\nNumber of Remaining Rows after Removing Duplicates: {num_remaining_rows}")

Number of Original Rows: 614

Number of Duplicate Rows: 0

Number of Remaining Rows after Removing Duplicates: 614

<font color='#00bd42'>**INSIGHTS**</fond>

<font color='#00bd42'>**from Duplicates**</fond>


        * There are no duplicates rows

<font color='#f5110a'>**CODE**</fond>

<font color='#f5110a'>**missing values and data types**</fond>

In [28]:
#Check for missing values and data types

missing_values = df.isnull().sum()
data_types = df.dtypes

print("Missing Values:")
print(missing_values)

print("\n Data Types:")
print(data_types)

Missing Values:
Gender               0
Married              0
Dependents           0
Education            0
Self_Employed        0
ApplicantIncome      0
CoapplicantIncome    0
LoanAmount           0
Loan_Amount_Term     0
Credit_History       0
Property_Area        0
Loan_Status          0
dtype: int64

 Data Types:
Gender                object
Married               object
Dependents            object
Education             object
Self_Employed         object
ApplicantIncome        int64
CoapplicantIncome    float64
LoanAmount           float64
Loan_Amount_Term     float64
Credit_History       float64
Property_Area         object
Loan_Status           object
dtype: object

<font color='#00bd42'>**INSIGHTS**</fond>

<font color='#00bd42'>**from missing values:**</fond>

        * to avoid errors in modeling and ensures data quality we need to fix these:


        1- missing values (LoanAmount, Credit_History) need to impute or drop them.
        2- Missing categorical values (Gender, Self_Employed) fill with mode (most frequent).
        3- Missing numerical values (LoanAmount) can be filled with the median or mean.

<font color='#00bd42'>**INSIGHTS**</fond>

<font color='#00bd42'>**from data types:**</fond>

        1- Categorical features: Gender, Married, Education, etc..
           These need to be encoded (Label Encoding or One-Hot Encoding).
        2- Numerical features: ApplicantIncome, LoanAmount, etc.
           Need scaling (e.g. StandardScaler or MinMaxScaler).
        3- Loan_ID: Likely just an identifier — not useful for prediction (drop it).
        4- Loan_Status: This is the target variable (Yes = Approved, No = Rejected)

<font color='#00bd42'>**INSIGHTS**</fond>

<font color='#00bd42'>**Additional**</fond>

        1- Dependants has values with characters like '+'

<font color='#ecff5f'>**BASED ON INSIGHTS**</fond>

<font color='#ecff5f'>**Drop, Fill missing**</fond>

In [25]:
# Drop 'Loan_ID'
df = df.drop('Loan_ID', axis=1)

# Fill missing categorical values with mode (safe assignment)
for col in ['Gender', 'Married', 'Dependents', 'Self_Employed']:
    df[col] = df[col].fillna(df[col].mode()[0])

# Fill missing numerical values
df['LoanAmount'] = df['LoanAmount'].fillna(df['LoanAmount'].median())
df['Loan_Amount_Term'] = df['Loan_Amount_Term'].fillna(df['Loan_Amount_Term'].mode()[0])
df['Credit_History'] = df['Credit_History'].fillna(df['Credit_History'].mode()[0])

<font color='#f5110a'>**CODE**</fond>

<font color='#f5110a'>**New Check on missing values**</fond>

In [30]:
#Check for missing values

missing_values = df.isnull().sum()
data_types = df.dtypes

print("Missing Values:")
print(missing_values)

Missing Values:
Gender               0
Married              0
Dependents           0
Education            0
Self_Employed        0
ApplicantIncome      0
CoapplicantIncome    0
LoanAmount           0
Loan_Amount_Term     0
Credit_History       0
Property_Area        0
Loan_Status          0
dtype: int64

<font color='#ecff5f'>**BASED ON INSIGHTS**</fond>

<font color='#ecff5f'>**The values 3+ will make problems so convert it to 3**</fond>

In [29]:
# Convert '3+' to 3 and cast to int
df['Dependents'] = df['Dependents'].replace('3+', 3).astype(int)

<font color='#ecff5f'>**BASED ON INSIGHTS**</fond>

<font color='#ecff5f'>**Encode Categorical Variables**</fond>

In [31]:
# Convert 'Y' → 1 and 'N' → 0:
df['Loan_Status'] = df['Loan_Status'].map({'Y': 1, 'N': 0})

In [32]:
# We’ll use One-Hot Encoding to avoid ordering bias:
# One-hot encode remaining categorical features
df = pd.get_dummies(df, columns=['Gender', 'Married', 'Education','Self_Employed', 'Property_Area'], drop_first=True)

In [33]:
df.head(10)

,Dependents,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Loan_Status,Gender_Male,Married_Yes,Education_Not Graduate,Self_Employed_Yes,Property_Area_Semiurban,Property_Area_Urban
0,0,5849,0.0,128.0,360.0,1.0,1,True,False,False,False,False,True
1,1,4583,1508.0,128.0,360.0,1.0,0,True,True,False,False,False,False
2,0,3000,0.0,66.0,360.0,1.0,1,True,True,False,True,False,True
3,0,2583,2358.0,120.0,360.0,1.0,1,True,True,True,False,False,True
4,0,6000,0.0,141.0,360.0,1.0,1,True,False,False,False,False,True
5,2,5417,4196.0,267.0,360.0,1.0,1,True,True,False,True,False,True
6,0,2333,1516.0,95.0,360.0,1.0,1,True,True,True,False,False,True
7,3,3036,2504.0,158.0,360.0,0.0,0,True,True,False,False,True,False
8,2,4006,1526.0,168.0,360.0,1.0,1,True,True,False,False,False,True
9,1,12841,10968.0,349.0,360.0,1.0,0,True,True,False,False,True,False